<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.team1.mapper.MovieMapper">
	
	<select id="getList" resultType="com.team1.domain.MovieVO">
		SELECT
			m.id,
			m.title,
			t.thumbName thumbNail
		FROM
			Movie m
				LEFT JOIN 
			ThumbNail t 
				ON
			m.id = t.movieId
		ORDER BY
			id ASC
	</select>

	<select id="read" resultType="com.team1.domain.MovieVO">
		SELECT
			m.id,
			m.title,
			m.content,
			t.thumbName thumbNail
		FROM
			Movie m
				LEFT JOIN 
			ThumbNail t 
				ON
			m.id = t.movieId
		WHERE
			m.id = #{movieId}
	</select>
	
	<select id="getActor" resultType="String">
		SELECT
			a.name
		FROM
			Cast c
				JOIN 
			Actor a ON c.actorId = a.id
				JOIN 
			Movie m ON c.movieId = m.id
		WHERE
			c.movieId = #{movieId}
	</select>
	
	<select id="getKategorie" resultType="String">
		SELECT 
			k.kate Kategorie
		FROM 
			Movie m
				JOIN 
			Kategorie k ON m.id = k.movieId
		WHERE
			k.movieId = #{movieId}
	</select>
</mapper>